@charset "UTF-8";
/* CSS Document */

html, body, div, span, p, blockquote,
a, em, strong, 
fieldset, form, label, button, input, textarea, 
h1, h2, ul, ol, li {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
}

img { border: 0; }

.clear { clear: both; }

/* TYPOGRAPHY */
body, button {
	font-size: 62.5%;
	font-family: 'GillSans', 'Gill Sans', 'Gill Sans MT', 'Tahoma', 'Trebuchet MS', Calibri, sans-serif;
}
	
h1, h2 {
	font-family: 'Oswald', 'Gill Sans', 'Lucida Grande', arial, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

h1 { font-size: 2em; color: #000; }
h2 { font-size: 1.8em; color: #547091; }

a:link, a:visited { color: #1172c2; }
a:hover { color: #c21111; }
a:active { color: #1172c2; }

a { text-decoration: none; }