@charset "UTF-8";
/* CSS Document */

#content .two-thirds_col #prices .prices .dot {
	margin-left: -10px;
	float: left;
}

#content .two-thirds_col #contact textarea,
#content-form #contact textarea {
	overflow: auto;
}

#content .one-third_col {
	float: right;
}

#content {
	padding: 7px 0 50px 0;
}

