@charset "UTF-8";
/* CSS Document */

#content {
	padding: 7px 0 98px 0;
}

#header-inner .welcome .message {
	font-size: 1.5em;
}

#content .two-thirds_col #about .bio {
	font-size: 1.3em;
	margin-top: -5px;
}

#content .two-thirds_col #prices .prices {
	font-size: 1.1em;
}

#content .two-thirds_col #prices .prices .dot {
	margin-left: -12px;
	float: left;
}

#content .two-thirds_col #prices .prices .cost {
	margin-top: -206px;
	width: 70px;	
}

#content .two-thirds_col #prices .example {
	font-size: 1.3em;
}

#content .two-thirds_col #contact label,
#content-form #contact label {
	vertical-align: top;
	font-size: 1.3em;
}

#content .one-third_col #information p {
	font-size: 1.3em;
}

#content .two-thirds_col #contact textarea,
#content-form #contact textarea {
	overflow: auto;
}

#content .one-third_col {
	float: right;
}

#content-form {
	height: 345px;
}-

