@charset "UTF-8";
/* CSS Document */

#content {
	padding: 7px 0 50px 0;
}

#content .two-thirds_col #contact textarea,
#content-form #contact textarea{
	overflow: auto;
}

#content .one-third_col {
	float: right;
}

#content {
	height: 505px;
}

#content .one-third_col #information p {
	font-size: 1.32em;
}

#content-form {
	height: 345px;
}

