@charset "UTF-8";
/* CSS Document */

/* DEFAULT */

html { height: 100%; }

body {
	background: url("../images/bg.jpg");
	height: 100%;
}

#container {
	position: relative;
	width: 100%;
	min-width: 960px;
	min-height: 100%;
}

/* ###### */
/* HEADER */
/* ###### */

#header {
	width: 100%;
	height: 269px;
	min-width: 960px;
	background: url("../images/topbg.png") repeat-x;
}

#header-inner {
	width: 960px;
	height: 250px;
	background-color: #f7ffff;
	margin: 0 auto;
}

	/* LOGO */
	#header-inner .logo { 
		margin: 0 0 0 40px; 
		float: left;
		}
		
	#header-inner h1 { display: none; }
	
	/* WELCOME MESSAGE */
	#header-inner .welcome {
		background: url("../images/welcomebg.jpg") no-repeat;
		width: 560px;
		height: 140px;
		float: left;
		margin: 50px 0 0 80px;
	}
	
		#header-inner .welcome .header {
			width: 402px;
			height: 36px;
			margin: 22px 0 0 84px;
			background: url("../images/welcome-msg.png") no-repeat;
		}
		
		#header-inner .welcome h2 {
			visibility: hidden;
		}
		
		#header-inner .welcome .message {
			margin: 2px 0 0 0;
			padding: 0 65px;
			text-align: center;
			font-size: 1.6em;
			line-height: 1.25em;
			color: #062843;
			font-weight: 300;
		}
		
/* ############ */
/* CONTENT AREA */
/* ############ */

#content {
	background-color: transparent;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 7px 0 78px 0;
/*	overflow: auto;*/
	clear: left;
}
	#content .full-width {
		font-size: 1.6em;
	}

	#content .two-thirds_col {
		float: left;
		width: 640px;
		height: 100%;
		margin: 0;
		background-color: transparent;
	}
	
		/* ABOUT NATHAN */
		#content .two-thirds_col #about {
			width: 640px;
			height: 80px;
			padding: 17px 0 0 0;
			background-color: transparent;
			margin: 0 0 47px 0;
		}
		
			#content .two-thirds_col #about img {
				padding: 0 14px 0 0;
				float: left;
			}
			
			#content .two-thirds_col #about .bio {
				font-size: 1.4em;
				color: #062843;
				text-align: justify;
			}
			
		/* CONTACT FORM */
		#content .two-thirds_col #contact,
		#content-form #contact {
			width: 320px;
			height: 100%;
			background-color: transparent;
			clear: left;
			float: left;
		}
		
			#content .two-thirds_col #contact .required,
			#content-form #contact .required {
				font-size: 1.2em;
				color: #7e8696;
				float: left;
				padding-top: 5px;
			}
			
			#content .two-thirds_col #contact form,
			#content-form #contact form {
				margin-top: 30px;
			}
		
			#content .two-thirds_col #contact label,
			#content-form #contact label {
				display: inline-block;
				width: 60px;
				color: #545863;
				font-size: 1.4em;
				vertical-align: middle;
			}
			
			#content .two-thirds_col #contact label.label-message,
			#content-form #contact label.label-message {
				vertical-align: top;
			}
			
			#content .two-thirds_col #contact input,
			#content-form #contact input {
				width: 211px;
				height: 32px;
				background: url("../images/input-bg.jpg") no-repeat;
				margin: 0 0 20px 0;
				padding-left: 5px;
				padding-right: 5px;
			}
			
			#content .two-thirds_col #contact textarea,
			#content-form #contact textarea {
				width: 211px;
				height: 112px;
				background: url("../images/textarea-bg.jpg") no-repeat;
				margin: 0 0 20px 0;
				resize: none;
				padding: 5px;
			}
			
			#content .two-thirds_col #contact button,
			#content-form #contact button {
				width: 80px;
				height: 30px;
				float: right;
				background: url("../images/submit.jpg") no-repeat;
				text-transform: uppercase;
				color: #545863;
				font-size: 1.4em;
				margin: 0 36px 0 0;
			}
		
		/* PRICES */
		#content .two-thirds_col #prices {
			width: 260px;
			height: 360px;
			float: right;
			padding-left: 60px;
			background: url("../images/short-divider.gif") no-repeat left center;
		}
		
			#content .two-thirds_col #prices .example {
				color: #545863;
				font-size: 1.4em;
				padding-top: 5px;
			}
			
			#content .two-thirds_col #prices .prices {
				margin: 22px 38px 0 38px;
				font-size: 1.2em;
				color: #545863;
				width: 186px;
			}
			
				#content .two-thirds_col #prices .prices ul {
					list-style-type: none;
					text-align: center;
				}
				
				#content .two-thirds_col #prices .prices ul li {
					display: block;
					height: 24px;
				}
				
				#content .two-thirds_col #prices .prices ul li.title {
					font-style: italic;
				}
			
				#content .two-thirds_col #prices .prices .diameter {
					position: relative;
					float: left;
					width: 46px;
					height: 205px;
					background-color: transparent;
					z-index: 1;
				}
				
				#content .two-thirds_col #prices .prices .cost {
					position: relative;
					width: 72px;
					height: 205px;
					background-color: transparent;
					z-index: 1;
					float: right;
					margin-top: -205px;
				}
				
				#content .two-thirds_col #prices .prices .dot {
					position: relative;
					width: 101px;
					height: 205px;
					background-color: transparent;
					z-index: 2;
					margin-left: 34px;
				}
				
					#content .two-thirds_col #prices .prices .dot ul li.blank {
						background: none;
					}
					
					#content .two-thirds_col #prices .prices .dot ul li {
						background: url("../images/dots.png") no-repeat;
						height: 24px;
					}	
	
	#content .one-third_col {
		display: inline-block;
		/*float: right;*/
		width: 249px;
		height: 508px;
		margin: 0;
		background: url("../images/long-divider.gif") no-repeat left top;
		padding: 5px 0 0 71px;
	}
	
		#content .one-third_col #information {
		}
		
		#content .one-third_col #information p {
			font-size: 1.4em;
			color: #545863;
			margin-top: 5px;
			margin: 5px 0 30px 0;
			text-align: justify;
		}
		
#content-form {
	background-color: transparent;
	width: 290px;
	height: 350px;
	margin: 0 auto;
	padding: 7px 0 78px 0;
/*	overflow: auto;*/
	clear: left;
}

	#content-form p {
		font-size: 1.8em;
		text-align: center;
	}
	
	#content-form p.error {
		font-size: 1.8em;
		color: #c21111;
		text-align: center;
	}
	
/* ###### */
/* FOOTER */
/* ###### */

#footer {
	position: absolute;
	width: 100%;
	background: url("../images/btmbg.png") repeat-x;
	clear: both;
	height: 78px;
	bottom: 0;
	color: #062843;
	font-size: 1em;
}

	#footer .footer-wrapper {
		margin: 0 auto;
		width: 960px;
		height: auto;
	}

	#footer .left {
		float: left;
		text-align: left;
		width: 320px;
		margin-top: 35px;
	}
	
	#footer .middle {
		float: left;
		text-align: center;
		width: 260px;
		margin-top: 35px;
		padding-left: 60px;
	}

	#footer .right {
		float: left;
		text-align: right;
		width: 320px;
		margin-top: 35px;
	}
		